@inherits LayoutComponentBase

<main class="min-h-full flex flex-col">
    <nav class="flex bg-gray-800 p-3 gap-10 items-center">
        <div class="flex gap-2 items-center">
            <img src="svg/lemon-icon.svg" class="rounded-sm h-8 w-auto" alt="" draggable="false"/>
            <span class="font-mono text-yellow-400 font-bold">LemonTracker</span>
        </div>
        <div class="flex gap-4 text-slate-300 font-mono">
            <NavAnchor Href="/">Module Editor</NavAnchor>
            <NavAnchor Href="#">Explorer</NavAnchor>
        </div>
    </nav>
    <div class="p-4 text-slate-200 grow">
        @Body
    </div>
</main>

@code {
    private bool _isMenuOpen;
}