<button class="@ReturnVariantStyling()" @onclick="@OnClickCallback" disabled="@IsDisabled">
    @ChildContent
</button>

@code {

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public Variant Variant { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string ReturnVariantStyling() => Variant switch 
    {
        Variant.Default => "shadow-slate-900 drop-shadow-md bg-gray-600 hover:bg-gray-500 px-2 py-1 rounded-lg font-mono",
        _ => string.Empty
    };
}