<div class="  bg-slate-600 self-center w-full rounded-xl shadow-slate-900 drop-shadow-md max-w-[864px]">
    <div class="grid grid-cols-3 text-yellow-400 text-center">
        <div class="col-auto">A</div>
        <div class="col-auto">B</div>
        <div class="col-auto">C</div>
    </div>
</div>

@code {

}