@using LemonTracker.Models
<div class="bg-slate-600 self-center w-full rounded-xl shadow-slate-900 drop-shadow-md max-w-[1080px]">
    <div class="grid grid-flow-col text-yellow-400 text-center">
        <div class="col-auto">Channel A</div>
        <div class="col-auto">Channel B</div>
        <div class="col-auto">Channel C</div>
    </div>
</div>

@code {
    [Parameter]
    public Module? CurrentModule { get; set; }
}