@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}
