@using Microsoft.AspNetCore.Components.Forms
@using LemonTracker.Converters
@using LemonTracker.Models
@inject IJSRuntime JsRuntime
@inject IModuleConverter Converter
@page "/"

<div class="flex flex-col gap-6">
    <EditorMenu>
        <Button OnClickCallback="@(() => JsRuntime.InvokeVoidAsync("clickHiddenPicker"))">
            Load Module
        </Button>
    </EditorMenu>
    <ModuleEditor CurrentModule="_module" />
</div>

<InputFile id="picker" OnChange="@LoadModule" hidden/>

@code {
    private Module? _module = new();
    
    private async Task LoadModule(InputFileChangeEventArgs arg)
    {
        var ms = new MemoryStream();
        await arg.File.OpenReadStream().CopyToAsync(ms);
        _module = Converter.ConvertToLemonModule(ms);
    }
}